<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.ArticleMapper" >
    <insert id="add" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
          INSERT INTO t_article (articleTitle, articleContent,status,thumbnailId,articleSummary,thumbnailType,
            categoryId,userId,isEncrypt,password,createTime,updateTime,keyword,isAllowComment,isDraft)
        VALUES
           (#{articleTitle}, #{articleContent},#{status},#{thumbnailId},#{articleSummary},#{thumbnailType},
            #{categoryId},#{userId},#{isEncrypt},#{password},#{createTime},#{updateTime},#{keyword},#{isAllowComment},#{isDraft})
    </insert>

    <insert id="addTags">
        INSERT INTO t_article_tag
        (articleId,tagId)
        VALUES
        <foreach collection ="list" item="tag" separator =",">
            (#{tag.articleId}, #{tag.tagId})
        </foreach >
    </insert>

    <!-- 定义菜单树形结构 -->
    <resultMap id="ARTICLE_COLUMN" type="com.perfree.model.Article">
        <id property="id" column="id"></id>
        <result property="articleTitle" column="articleTitle"></result>
        <result property="articleContent" column="articleContent"></result>
        <result property="status" column="status"></result>
        <result property="thumbnailId" column="thumbnailId"></result>
        <result property="articleSummary" column="articleSummary"></result>
        <result property="thumbnailType" column="thumbnailType"></result>
        <result property="categoryId" column="categoryId"></result>
        <result property="userId" column="userId"></result>
        <result property="viewCount" column="viewCount"></result>
        <result property="isEncrypt" column="isEncrypt"></result>
        <result property="password" column="password"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="keyword" column="keyword"></result>
        <result property="isAllowComment" column="isAllowComment"></result>
        <result property="isDraft" column="isDraft"></result>
        <result property="category.categoryName" column="categoryName"></result>
        <result property="user.name" column="name"></result>
        <collection property="tags" select="getTagsByArticleId" column="id"></collection>
    </resultMap>

    <select id="list" resultMap="ARTICLE_COLUMN">
        select t.*,t1.name,t2.categoryName from t_article t left join t_user t1 on t.userId = t1.id left join t_category t2 on t.categoryId = t2.id
    </select>

    <select id="getTagsByArticleId" resultType="com.perfree.model.Tag" parameterType="long">
        SELECT t1.* from t_article_tag t LEFT JOIN t_tag t1 on t.tagId = t1.id where t.articleId = #{id}
    </select>

    <delete id="delete">
        delete from t_article where id = #{id}
    </delete>

    <delete id="deleteArticleTag">
          delete from t_article_tag where articleId = #{id}
    </delete>
</mapper>
