<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.ArticleMapper" >
    <insert id="add" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
          INSERT INTO t_article (articleTitle, articleContent,status,thumbnailId,articleSummary,thumbnailType,
            categoryId,userId,isEncrypt,password,createTime,updateTime,keyword,isAllowComment,isDraft)
        VALUES
           (#{articleTitle}, #{articleContent},#{status},#{thumbnailId},#{articleSummary},#{thumbnailType},
            #{categoryId},#{userId},#{isEncrypt},#{password},#{createTime},#{updateTime},#{keyword},#{isAllowComment},#{isDraft})
    </insert>

    <insert id="addTags">
        INSERT INTO t_article_tag
        (articleId,tagId)
        VALUES
        <foreach collection ="list" item="tag" separator =",">
            (#{tag.articleId}, #{tag.tagId})
        </foreach >
    </insert>

    <!-- 定义菜单树形结构 -->
    <resultMap id="ARTICLE_COLUMN" type="com.perfree.model.Article">
        <id property="id" column="id"></id>
        <result property="articleTitle" column="articleTitle"></result>
        <result property="articleContent" column="articleContent"></result>
        <result property="status" column="status"></result>
        <result property="thumbnailId" column="thumbnailId"></result>
        <result property="articleSummary" column="articleSummary"></result>
        <result property="thumbnailType" column="thumbnailType"></result>
        <result property="categoryId" column="categoryId"></result>
        <result property="userId" column="userId"></result>
        <result property="viewCount" column="viewCount"></result>
        <result property="isEncrypt" column="isEncrypt"></result>
        <result property="password" column="password"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <result property="keyword" column="keyword"></result>
        <result property="isAllowComment" column="isAllowComment"></result>
        <result property="isDraft" column="isDraft"></result>
        <result property="category.categoryName" column="categoryName"></result>
        <result property="user.name" column="name"></result>
        <result property="attach.filePath" column="filePath"></result>
        <result property="attach.id" column="attachId"></result>
        <result property="attach.fileName" column="fileName"></result>
        <result property="attach.fileType" column="fileType"></result>
        <result property="attach.createTime" column="createTime"></result>
        <collection property="tags" select="getTagsByArticleId" column="id"></collection>
    </resultMap>

    <select id="list" resultMap="ARTICLE_COLUMN" parameterType="com.perfree.model.Article">
        select t.*,t1.name,t2.categoryName,t3.filePath,t3.id as attachId,t3.fileName,t3.fileType,t3.createTime from t_article t
        left join t_user t1 on t.userId = t1.id
        left join t_category t2 on t.categoryId = t2.id
        LEFT JOIN t_attach t3 on t.thumbnailId = t3.id
        where t.isDraft = #{isDraft}
        <if test="articleTitle != null and articleTitle != ''">
            and t.articleTitle like concat('%',#{articleTitle},'%')
        </if>
    </select>

    <select id="getTagsByArticleId" resultType="com.perfree.model.Tag" parameterType="long">
        SELECT t1.* from t_article_tag t LEFT JOIN t_tag t1 on t.tagId = t1.id
        where t.articleId = #{id}
    </select>

    <delete id="delete">
        delete from t_article where id = #{id}
    </delete>

    <delete id="deleteArticleTag">
          delete from t_article_tag where articleId = #{id}
    </delete>

    <select id="getArticleById" resultMap="ARTICLE_COLUMN">
         select t.*,t1.name,t2.categoryName,t3.filePath,t3.id as attachId,t3.fileName,t3.fileType,t3.createTime from t_article t
         left join t_user t1 on t.userId = t1.id
         left join t_category t2 on t.categoryId = t2.id
         LEFT JOIN t_attach t3 on t.thumbnailId = t3.id
        where t.id = #{id}
    </select>


    <update id="update">
        UPDATE t_article SET
        articleTitle = #{articleTitle},
        articleContent = #{articleContent},
        status = #{status},
        thumbnailType = #{thumbnailType},
        isEncrypt = #{isEncrypt},
        isAllowComment = #{isAllowComment},
        isDraft = #{isDraft},
        <if test="thumbnailId != null and thumbnailId != ''">
            thumbnailId = #{thumbnailId},
        </if>
        <if test="articleSummary != null and articleSummary != ''">
            articleSummary = #{articleSummary},
        </if>
        <if test="categoryId != null and categoryId != ''">
            categoryId = #{categoryId},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="keyword != null and keyword != ''">
            keyword = #{keyword},
        </if>
        updateTime = #{updateTime}
        where id = #{id}
    </update>
</mapper>
