<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.ArticleMapper" >
    <insert id="add" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
          INSERT INTO t_article (articleTitle, articleContent,status,thumbnailId,articleSummary,thumbnailType,
            categoryId,userId,isEncrypt,password,createTime,updateTime,keyword,isAllowComment,isDraft)
        VALUES
           (#{articleTitle}, #{articleContent},#{status},#{thumbnailId},#{articleSummary},#{thumbnailType},
            #{categoryId},#{userId},#{isEncrypt},#{password},#{createTime},#{updateTime},#{keyword},#{isAllowComment},#{isDraft})
    </insert>

    <insert id="addTags">
        INSERT INTO t_article_tag
        (articleId,tagId)
        VALUES
        <foreach collection ="list" item="tag" separator =",">
            (#{tag.articleId}, #{tag.tagId})
        </foreach >
    </insert>
</mapper>
