<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.AttachMapper" >
    <select id="imageList" resultType="com.perfree.model.Attach">
        select * from t_attach order by id desc
    </select>

    <insert id="saveFile" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
          INSERT INTO t_attach (fileName, fileType,filePath,createTime)
                       VALUES
                       (#{fileName}, #{fileType}, #{filePath}, #{createTime})
    </insert>
</mapper>
