<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.UserMapper" >
    <!-- 定义基础列 -->
    <sql id="BASE_COLUMN">
        t.id id,
        t.`name` name,
        t.age age,
        t.sex sex,
        t.salt salt,
        t.`status` status,
        t.`password` password,
        t.email email,
        t.account account,
        t.createTime createTime,
        t.updateTime updateTime
    </sql>

    <!-- 定义组装的User列 -->
    <resultMap id="user_map" type="com.perfree.model.User">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <result column="sex" property="sex"></result>
        <result column="salt" property="salt"></result>
        <result column="status" property="status"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="account" property="account"></result>
        <result column="createTime" property="createTime"></result>
        <result column="updateTime" property="updateTime"></result>
        <collection property="roles" select="getUserRolesByUserId" column="id"></collection>
    </resultMap>

    <!-- 定义角色map -->
    <resultMap id="role_map" type="com.perfree.model.Role">
        <id property="id" column="id"></id>
        <result property="roleCode" column="roleCode"></result>
        <result property="roleName" column="roleName"></result>
    </resultMap>


    <!-- 根据账户查询用户信息 -->
    <select id="getUserByAccount" parameterType="string" resultMap="user_map">
        select t.* from t_user t where t.account = #{account}
    </select>

    <!-- 根据用户id查询角色信息 -->
    <select id="getUserRolesByUserId" parameterType="string" resultMap="role_map">
        select t.* from t_role t LEFT JOIN t_user_role t1 on t.id = t1.roleId WHERE t1.userId = #{id}
    </select>

    <!-- 用户列表分页 -->
    <select id="list" parameterType="com.perfree.model.User" resultMap="user_map">
        select distinct t.*
        from t_user t
        left join t_user_role t2
        on t2.userId = t.id
        left join t_role t3
        on t3.id = t2.roleId
        where 1 = 1
        <if test="name !=null and name !=''">
            and t.name like concat(concat('%',#{name}),'%')
        </if>
        <if test="account !=null and account !=''">
            and t.account like concat(concat('%',#{account}),'%')
        </if>
        <if test="email !=null and email !=''">
            and t.email like concat(concat('%',#{email}),'%')
        </if>
        <if test="status !=null and status !=''">
            and t.status = #{status}
        </if>
    </select>

    <insert id="addUser" parameterType="com.perfree.model.User" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into t_user(name,account,password,salt,email,sex,age,createTime,updateTime)
        values (#{name},#{account},#{password},#{salt},#{email},#{sex},#{age},#{createTime},#{updateTime})
    </insert>

    <insert id="addUserAndRole" parameterType="java.util.Map">
        insert into
        t_user_role(userId ,roleId)
        values
        <foreach collection="roleIds" item="item" index="index" separator="," >
            (
            #{userId},
            #{item}
            )
        </foreach>
    </insert>

    <delete id="delUserAndRole" parameterType="java.lang.Long">
        delete from t_user_role where userId = #{userId}
    </delete>
    <delete id="deleteUser" parameterType="java.lang.Long">
        delete from t_user where id = #{id}
    </delete>

    <select id="getUser" parameterType="java.lang.Long" resultType="com.perfree.model.User">
        select t.* from t_user t where t.id = #{id}
    </select>

    <update id="updateUser" parameterType="com.perfree.model.User">
        update t_user t set
        <if test="name !=null and name !=''">
            t.name = #{name},
        </if>
        <if test="account !=null and account !=''">
            t.account = #{account},
        </if>
        <if test="password !=null and password !=''">
            t.password = #{password},
        </if>
        <if test="salt !=null and salt !=''">
            t.salt = #{salt},
        </if>
        <if test="email !=null and email !=''">
            t.email = #{email},
        </if>
        <if test="sex !=null and sex !=''">
            t.sex = #{sex},
        </if>
        <if test="age !=null and age !=''">
            t.age = #{age},
        </if>
        updateTime = #{updateTime}
        where t.id = #{id}
    </update>

    <!-- 更新状态 -->
    <update id="updateStatus" parameterType="com.perfree.model.User">
        UPDATE t_user SET status = #{status}
        where id = #{id}
    </update>
</mapper>
