<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>PerfreeSimple</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <style>
    html::-webkit-scrollbar-track-piece,body::-webkit-scrollbar-track-piece {
      background: #eee;
    }
    html::-webkit-scrollbar-thumb,body::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #cbcbcb;
    }
    html::-webkit-scrollbar,body::-webkit-scrollbar {
        width: 8px;
        height: 6px;
    }
    body{
      font-family: "Source Sans Pro","Hiragino Sans GB","Microsoft Yahei",SimSun,Helvetica,Arial,Sans-serif,monospace;
    }
  </style>
</head>
<body>
  <app-root></app-root>
<script src="runtime.js" defer></script><script src="polyfills.js" defer></script><script src="styles.js" defer></script><script src="scripts.js" defer></script><script src="vendor.js" defer></script><script src="main.js" defer></script></body>
</html>
