<!doctype html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title>PerfreeBlogPage</title>
  <base href="/admin/">
<!--  <base href="/">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.5539c0f2cc771dffdf1e.css"></head>
<body>
  <app-root></app-root>
<script src="runtime-es2015.68025c39b3bafc37b633.js" type="module"></script><script src="runtime-es5.68025c39b3bafc37b633.js" nomodule defer></script><script src="polyfills-es5.79257c2173825c3ff89e.js" nomodule defer></script><script src="polyfills-es2015.296a3f323ff0b5cc664a.js" type="module"></script><script src="scripts.77ed71d6e8b8c1f6def8.js" defer></script><script src="main-es2015.31103c6dccaaf7f733cf.js" type="module"></script><script src="main-es5.31103c6dccaaf7f733cf.js" nomodule defer></script></body>
</html>
