<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.perfree.mapper.MenuMapper" >

    <!-- 定义获取用户菜单的map -->
    <resultMap id="CURR_USER_MENU" type="com.perfree.model.Menu">
        <id property="id" column="id"></id>
        <result property="menuName" column="menuName"></result>
        <result property="menuIcon" column="menuIcon"></result>
        <result property="menuPath" column="menuPath"></result>
        <result property="pid" column="pid"></result>
        <result property="seq" column="seq"></result>
        <result property="flag" column="flag"></result>
        <result property="target" column="target"></result>
        <result property="createTime" column="createTime"></result>
        <result property="updateTime" column="updateTime"></result>
        <collection property="childMenu" select="getChildMenu" column="id"></collection>
    </resultMap>

    <!-- 获取当前账户所拥有的菜单 -->
    <select id="getMenuByAccount" parameterType="string" resultMap="CURR_USER_MENU">
        SELECT distinct t.* from t_menu t
        LEFT JOIN t_permission_menu t1 on t.id = t1.menuId
        LEFT JOIN t_role_permission t2 on t1.permissionId = t2.permissionId
        LEFT JOIN t_user_role t3 on t2.roleId = t3.roleId
        LEFT JOIN t_user t4 on t3.userId = t4.id
        where t4.account= #{account} and t.pid = -1
    </select>

    <!-- 获取当前账户所拥有的子菜单 -->
    <select id="getChildMenu" parameterType="long" resultMap="CURR_USER_MENU">
        SELECT t.* from t_menu t WHERE t.pid = #{id}
    </select>
</mapper>
